---
import FooterLink from "@/components/FooterLink.astro";
import Container from "@/components/ui/Container.astro";
import { SITE, SOCIAL_LINKS } from "@/consts";

const currentYear = new Date().getFullYear();
---

<footer class="mt-auto">
  <Container class="py-12">
    <div class="flex flex-col md:flex-row items-start md:items-end justify-between gap-6">
      <div class="flex flex-wrap items-center gap-x-5 gap-y-2">
        <FooterLink href={SOCIAL_LINKS.github} external>GitHub</FooterLink>
        <FooterLink href={SOCIAL_LINKS.x} external>X</FooterLink>
        <FooterLink href={SOCIAL_LINKS.linkedin} external>LinkedIn</FooterLink>
        <FooterLink href={SOCIAL_LINKS.bluesky} external>Bluesky</FooterLink>
        <FooterLink href="/rss.xml">RSS</FooterLink>
      </div>

      <p class="eyebrow">
        &copy; {currentYear}
        {SITE.author}
      </p>
    </div>
  </Container>
</footer>
